body{
    text-align: center;
    background-color: wheat;
}
.header{
    background-color: snow;
    width: 100%;
    height: 110px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.header img{
    width: 130px;
}
.main_div{
    background-color: wheat;
    width: 380px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 18px grey;
}
#camera{
    width: 310px;
    height: 300px;
    border-radius: 10px;
}
#result{
    width: 310px;
    height: 300px;
    border-radius: 10px; 
}
.main_div button{
    width: 150px;
    text-align: center;
}